.cart-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px;
  
}

.shopping-cart {
  width: 60%;
  margin-right: 20px;
  background: #FFFFFF;
  padding: 20px;
  border-radius: 6px;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px 0;
  justify-content: space-between; /* Align items correctly */
}

.image {

  flex: 0 0 150px; /* Set fixed width for image column */
  text-align: center;
}


.total-price {
  font-size: 16px;
  font-weight: 500;
}

.quantity {
  display: flex;
  align-items: center;
  border: 1px solid black;
  left: 20px; /* Shifting the quantity controls slightly to the right */
}

.quantity input {
  width: 40px;
  text-align: center;
  border: 1px solid #ccc;
  margin: 0 10px;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.plus-btn img, .minus-btn img {
  width: 15px;
  height: auto;
}

/* Checkout section */
.checkout-section {
  width: 23%;
  background: #FFFFFF;
  padding: 20px;
  border-radius: 6px;
}

.checkout-btn {
  background-color: #1e90ff;
  color: white;
  padding: 15px;
  width: 100%;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
}

.payment-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.payment-buttons button{
  border: none;
  cursor: pointer;
  color: white;
  padding: 15px;
  
}

.shop-pay {
  background-color: #5a31f4;
}

.paypal {
  background-color: #ffc439;
}

.gpay {
  background-color: black;
}

.checkout-section p {
  text-align: center;
}

.text {
  position: relative;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #666;
}

/* Responsive adjustments */
@media (max-width: 800px) {
  .cart-wrapper {
    flex-direction: column;
  }

  .shopping-cart,
  .checkout-section {
    width: 100%;
  }

  .item {
    flex-direction: column;
    align-items: center;
  }

  .image,
  .description,
  .quantity {
    margin-right: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  .total-price {
    margin-left: 0;
    text-align: center;
  }
}
